.title {
    font-size:x-large;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    
}
.missing{
    color: rgb(146, 53, 53);
    background-color: rgb(220, 137, 137);
}

.note {
    font-size: x-small;
}

.margengris{
    margin-left: 1rem;
    margin-right: 1rem;
}

.missing{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}